<%- include('../partials/header') %>
<div class="container">
    <h2 class="main-title"> Your Favourites</h2>
    <% if (locals.user){  %> 
    <div class="links">
        <% user.favourites.forEach(function(fav){%> 
                <div class="link-card">
                    <div class="card-content">
                        <span class="card-title"><%=fav.name%></span>
                        <p class="card-text"><%=fav.description%></p>
                    </div>
                    <div class="hr"></div>
                    <div class="card-actions">
                        <a href="<%=fav.link%>" class="card-action" target="_blank">Direct Link</a><br>
                        <a href="/users/<%=user.id%>/favourites/<%=fav.id%>" class="card-action">More Information</a>
                    </div>
                </div>
        <%})%>
    </div>
    <%}%>
</div>
<%- include('../partials/footer') %>