<%- include('../partials/header') %>
<h2> Add New Favourite</h2>

<form class="add-forms" action="/user/<%=user.id%>/favourites" method="POST">

    <label class="labels">Name:
        <input type="text" name="name">
    </label><br>

    <label class="labels">Link:
      <input type="text" name="link">
    </label><br>

    <label class="labels">Description:
        <input type="text" name="description" class="input-description">
      </label><br>

    <label class="labels">Pick a Category:
        <!-- <input type="text" name="category"> -->
        <select name="category">
            <% categoryNames.forEach(function(category){ %>
                <option value="<%=category%>"><%=category%></option>
            <% }) %>
        </select>
    </label><br>

    <label class="recommendedBy">Recommended By:
        <input type="text" name="recommendedBy">
    </label><br>

    <label class="notes">Notes:
        <input type="text" name="notes" class="input-description">
    </label><br>


    
    <button type="submit" value="Add Link">add to favourites</button>
</form>

<%- include('../partials/footer') %>