<%- include('../partials/header') %>
<div class="form-page">

    <h2 class="main-title"> Add New Favourite</h2>
    
    <form class="form" action="/users/<%=user.id%>/favourites" method="POST">
    
        <label class="labels">Name<br>
            <input class="input" type="text" name="name" value="<%=link.name%>">
        </label>
    
        <label class="labels">Link<br>
          <input  class="input" type="text" name="link" value="<%=link.link%>">
        </label>
    
        <label class="labels">Description<br>
            <textarea type="text" name="description" class="input-description"><%=link.description%></textarea>
          </label>
    
        <label class="labels">Pick a Category<br>
            <select name="category" class="input">
                <% categoryNames.forEach(function(category){ %>
                    <option value="<%=category%>"><%=category%></option>
                <% }) %>
            </select>
        </label>
    
        <label class="labels">Recommended By<br>
            <input class="input" type="text" name="recommendedBy">
        </label>
    
        <label class="labels">Notes<br>
            <textarea type="text" name="notes" class="input-description"></textarea>
        </label>
    
        <button class="submit-btn" type="submit" value="Add Link">Add To Favourites</button>
    </form>
</div>

<%- include('../partials/footer') %>