<%- include('../partials/header') %>
<div class="link-view">
    <h2 class="main-title">Your Favourites</h2>
    <% if (locals.user){  %> 
       
            <h6>More Information</h6><br>
            <div class="link-card link-info fav-view">
                <div class="card-content">
                    <span class="card-title"><%=fav.name%></span>
                    
                    <h6><%fav.categories.forEach(function(category){%><%=category.name%><%})%></h6>
                    
                    <div class="link-notes">
                        <h5>Description:</h5>
                        <p><%=fav.description%></p>
                    </div>
    
                    <div class="link-notes">
                        <h5>Notes:</h5>
                        <span>Recommended By: <h6><%=fav.recommendedBy%></h6></span>
                        <p><%=fav.notes%></p>
                    </div>
                </div>

                <div class="hr"></div>

                <div class="card-actions show-view">
                    <a class='card-action' href="<%=fav.link%>" target="_blank">Direct Link</a>
                    <form action="/links/<%=fav.id%>/edit" method="GET">
                        <button class='card-action'>Edit</button>
                    </form>    
        
                    <form action="/links/<%=fav.id%>?_method=DELETE" method="POST">
                        <button class='card-action'>Delete</button>
                    </form>    
                </div>
            </div>
    <%}%>
</div>
<%- include('../partials/footer') %>