<%- include('../partials/header') %>
<h2> Add New Favourite</h2>

<form class="add-forms" action="/links/<%=link.id%>?_method=PUT" method="POST">

    <label class="labels">Name:
        <input type="text" name="name" value="<%=link.name%>">
    </label><br>

    <label class="labels">Link:
      <input type="text" name="link" value="<%=link.link%>">
    </label><br>

    <label class="labels">Description:
        <textarea type="text" name="description" class="input-description" value="<%=link.description%>"></textarea>
      </label><br>

    <label class="labels">Pick a Category:
        <!-- <input type="text" name="category"> -->
        <select name="category">
            <% categoryNames.forEach(function(category){ %>
                <option value="<%=category%>"><%=category%></option>
            <% }) %>
        </select>
    </label><br>

    <br>
    <button type="submit" value="Add Link">Update</button>
</form>

<%- include('../partials/footer') %>