<%- include('../partials/header') %>
<h2> Explore Categories</h2>

<!-- A bar here for add new link -->
<nav class="navbar ">
    <a></a>
    <%if(locals.user){%><a class='categoriespage-links' href="/links/new">Add New Resource</a><%}%>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</nav>

<!-- side navigation -->
<div class="categories-page">
    <div class="categories-area">
        <div class="nav-area"> 
            <ul class="nav flex-column nav-tabs">
                <li>Categories</li><br>
                <%categories.forEach(function(category){%>
                    <li class="nav-item">
                        <a class="nav-link" href='/categories/<%=category.id%>'><%=category.name%>
                        <% if(user?.isAdmin){ %>
                            <form style="display: inline;" class="categories-deletebtn" action="/categories/<%=category.id%>?_method=DELETE" method="POST">
                                <button><i class="bi bi-trash"></i></button>
                            </form> 
                        <% } %>
                        </a>
                    </li>
                <%})%>
            </ul>
        </div>
    </div>

    <div class="links-area">
        <!-- If link clicked, display this -->
        <% if (locals.linkToDisplay){%>
            <h5>Link Information</h5>
            <div class="link-display">
                <ul class="link-info">
                    <li><h3><%=linkToDisplay.name%></h3></li><br>
                    <li>Category:<br>
                        <h4><% linkToDisplay.categories.forEach(function(category){%><%=category.name%><%})%></h4>
                    </li><br>
                    <li>Description: <br><p><%=linkToDisplay.description%></p></li><br>
                    <li><a href="<%=linkToDisplay.link%>" target="_blank" class='categoriespage-links'>direct link</a></li>
                    <% if(locals.user){%>
                        <form action="/users/<%=user.id%>/favourites/new" method="POST">
                            <input hidden name="linkID" value="<%=linkToDisplay.id%>" />
                            <button><i class="bi bi-heart-fill"></i></button>
                        </form>    
                    <%}%>
                    <li> <% if(locals.user){%>
                        <form action="/links/<%=linkToDisplay.id%>/edit" method="GET">
                            <button class="card-link">edit</button>
                        </form>    
                    <%}%>
                    <% if(locals.user){%>
                        <form action="/links/<%=linkToDisplay.id%>?_method=DELETE" method="POST">
                            <button class="card-link">delete</button>
                        </form>    
                    <%}%></li>
                </ul>
            </div>
            <!-- If category clicked, display this -->
        <% } else if (locals.category){%>
            <h5><%=category.name%></h5>   
            <div class="row row-cols-3">
                <% category.links.forEach(function(link){%> 
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <% if(user){%>
                                    <form class="add-to-favourite" action="/users/<%=user.id%>/favourites/new" method="POST">
                                        <input hidden name="linkID" value="<%=link.id%>" />
                                        <button class="card-link"><i class="bi bi-suit-heart"></i></button>
                                    </form>       
                                <%}%>
                                <h5 class="card-header card-title"><%=link.name%></h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted"><%=link.category%></h6> -->
                                <br>
                                <p class="card-text"><%=link.description%></p>
                                <a href="<%=link.link%>" class="card-link" target="_blank">direct link</a><br>
                                <a href="/links/<%=link.id%>" class="card-link">more information</a>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        <%} else {%>
                <h5>Pick A Category</h5>    
        <%} %> 
    </div>
</div> 
<%- include('../partials/footer') %>