<%- include('../partials/header') %>

<div class="main-content">

    <!-- Categories Navigation -->
    <div class="categories">
        <ul>
            <%categories.forEach(function(category){%>
                <li class="category">
                    <a class="category-link" href='/categories/<%=category.id%>'><%=category.name%><br>
                    <% if(user?.isAdmin){ %>
                        <form style="display: inline;" class="categories-action" action="/categories/<%=category.id%>?_method=DELETE" method="POST">
                            <button><i class="material-icons">delete</i></button>
                        </form> 
                        <form style="display: inline;" class="categories-action" action="/categories/<%=category.id%>/edit" method="GET">
                            <button><i class="material-icons">edit</i></button>
                        </form> 
                    <% } %>
                    </a>
                </li>
            <%})%>
        </ul>
    </div>


    <!-- Links View Area -->
    <div class="link-view">

            <!-- If link clicked, display this -->
            <% if (locals.linkToDisplay){%>
                <h6>Link Information</h6><br>
                <div class="link-card link-info">
                    <div class="card-content">
                        <span class="card-title"><%=linkToDisplay.name%></span>
    
                        <h6><% linkToDisplay.categories.forEach(function(category){%><%=category.name%><%})%></h6>
                
                        <p><h5>Description:</h5><br>
                            <p><%=linkToDisplay.description%></p>
                        </p>
                    </div>

                    <div class="hr"></div>

                    <div class="card-actions show-view">
                        <a class='card-action' href="<%=linkToDisplay.link%>" target="_blank">Direct Link</a>
                        <% if(locals.user){%>
                            <form action="/users/<%=user.id%>/favourites/new" method="POST">
                                <input hidden name="linkID" value="<%=linkToDisplay.id%>" />
                                <button class='card-action'>Add To Favorite</button>
                            </form>    
                        <%}%>
                        <% if(locals.user){%>
                            <form action="/links/<%=linkToDisplay.id%>/edit" method="GET">
                                <button class='card-action'>Edit</button>
                            </form>    
                        <%}%>
                        <% if(locals.user){%>
                            <form action="/links/<%=linkToDisplay.id%>?_method=DELETE" method="POST">
                                <button class='card-action'>Delete</button>
                            </form>    
                        <%}%>
                    </div>
                </div>

            <!-- If category clicked, display this -->
            <% } else if (locals.category){%>
                <h2><%=category.name%></h2>   
                <div class="links">
                    <% category.links.forEach(function(link){%> 
                        <div class="link-card-container">
                            <div class="link-card">
                                <div class="card-content">
                                    <span class="card-title"><%=link.name%></span>
                                    <!-- <h6 class="card-subtitle mb-2 text-muted"><%=link.category%></h6> -->
                                    <p class="card-text"><%=link.description%></p>
                                </div>
                                <div class="hr"></div>
                                <div class="card-actions">
                                    <a href="<%=link.link%>" class="card-action" target="_blank">Direct Link</a>
                                    <a href="/links/<%=link.id%>" class="card-action">More Information</a>
                                </div>
                            </div>
                            <div class="card-action-fav">
                                <% if(user){%>
                                    <form class="add-to-favourite" action="/users/<%=user.id%>/favourites/new" method="POST">
                                        <input hidden name="linkID" value="<%=link.id%>" />
                                        <button type="submit"><i class="material-icons">favorite</i></button>
                                    </form>       
                                <%}%>
                            </div>
                        </div>
                    <%})%>
                </div>
            <%} else {%>
                    <h3>Pick A Category</h3>    
            <%} %> 
    </div>


</div>
<%- include('../partials/footer') %>