<%- include('../partials/header') %>

<!-- <div>
    <h2 class="main-title"> Explore Categories</h2>
</div> -->

<div class="main-content">

    <!-- Categories Navigation -->
    <div class="categories">
        <!-- <h2>Categories</h2> -->
        <ul>
            <%categories.forEach(function(category){%>
                <li class="category">
                    <a class="category-link" href='/categories/<%=category.id%>'><%=category.name%><br>
                    <% if(user?.isAdmin){ %>
                        <form style="display: inline;" class="categories-action" action="/categories/<%=category.id%>?_method=DELETE" method="POST">
                            <button><i class="material-icons">delete</i></button>
                        </form> 
                        <form style="display: inline;" class="categories-action" action="/categories/<%=category.id%>/edit" method="GET">
                            <button><i class="material-icons">edit</i></button>
                        </form> 
                    <% } %>
                    </a>
                </li>
            <%})%>
        </ul>
    </div>


    <!-- Links View Area -->
    <div class="link-view">

            <!-- If link clicked, display this -->
            <% if (locals.linkToDisplay){%>
                <h5>Link Information</h5>
                <ul class="link-info">
                    <li><h3 class="link-name"><%=linkToDisplay.name%></h3></li><br>
                    <li>Category:<br>
                        <h4><% linkToDisplay.categories.forEach(function(category){%><%=category.name%><%})%></h4>
                    </li><br>
                    <li>Description: <br><p><%=linkToDisplay.description%></p></li><br>
                    <li><a href="<%=linkToDisplay.link%>" target="_blank" class='categoriespage-links'>direct link</a></li>
                    <% if(locals.user){%>
                        <form action="/users/<%=user.id%>/favourites/new" method="POST">
                            <input hidden name="linkID" value="<%=linkToDisplay.id%>" />
                            <button><i class="material-icons">favorite</i></button>
                        </form>    
                    <%}%>
                    <li> <% if(locals.user){%>
                        <form action="/links/<%=linkToDisplay.id%>/edit" method="GET">
                            <button class="card-link">edit</button>
                        </form>    
                    <%}%>
                    <% if(locals.user){%>
                        <form action="/links/<%=linkToDisplay.id%>?_method=DELETE" method="POST">
                            <button class="card-link">delete</button>
                        </form>    
                    <%}%></li>
                </ul>

            <!-- If category clicked, display this -->
            <% } else if (locals.category){%>
                <h2><%=category.name%></h2>   
                <div class="links">
                    <% category.links.forEach(function(link){%> 
                        <div class="link-card">
                            <div class="card-content">
                                <span class="card-title"><%=link.name%></span>
                                <!-- <h6 class="card-subtitle mb-2 text-muted"><%=link.category%></h6> -->
                                <p><%=link.description%></p>
                            </div>
                            <hr>
                            <div class="card-action">
                                <a href="<%=link.link%>" class="card-link" target="_blank">direct link</a><br>
                                <a href="/links/<%=link.id%>" class="card-link">more information</a>
                                <% if(user){%>
                                    <form class="add-to-favourite" action="/users/<%=user.id%>/favourites/new" method="POST">
                                        <input hidden name="linkID" value="<%=link.id%>" />
                                        <button type="submit"><i class="material-icons">favorite</i></button>
                                    </form>       
                                <%}%>
                            </div>
                        </div>
                    <%})%>
                </div>
            <%} else {%>
                    <h3>Pick A Category</h3>    
            <%} %> 
    </div>


</div>
<%- include('../partials/footer') %>